<!--include header-->
<%-include('include/_header') %>
<!--/include header-->

    <!--/Main Site-->
    <main id="site-main">
        <div class="container">
            <form action="/api/users" method="POST" id="add_user" autocomplete="off">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Please type your complete name here">
                    </div>
                    <div class="form-group">
                        <label for="email" class="text-light">Email</label>
                        <input type="text" name="email" value="" placeholder="example@something.com">
                    </div>
                    <div class="form-grop">
                        <label for="comments" class="text-light">Comments</label>
                        <textarea class="txt-area" name="comments" value="" placeholder="Your comments here" cols="60" rows="5" readonly="true"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update"><i class="far fa-save"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!--/Main Site-->

<!--include footer-->
<%-include('include/_footer') %>
<!--/include footer-->