<!--include header-->
<%-include('include/_header') %>
<!--/include header-->

    <!--/Main Site-->
    <main id="site-main">
        <div class="container">
            <h2 class="text-dark">OUR VISION:</h2>
            <p class="text-light">
                Lorem ipsum dolor sit amet consectetur adipiscing elit, etiam molestie torquent senectus mauris praesent, gravida porta sed porttitor a dui. 
                Duis eleifend magnis magna placerat felis metus volutpat donec vitae, interdum netus vulputate cum nisi venenatis a justo aenean, 
                quam nulla risus sociosqu ad per suspendisse nisl. Mus est netus penatibus gravida aliquam porta posuere libero hac, 
                parturient eleifend venenatis nulla aenean senectus porttitor euismod facilisis, pretium litora rutrum proin rhoncus magnis purus cubilia.
            </p><br/>
            <p class="text-light">
                Per est nullam proin ligula nibh cubilia auctor neque interdum, ultrices eleifend sapien vel tempor ullamcorper commodo tortor leo eros, 
                curae cras tristique gravida mollis eget vulputate nulla. Arcu justo ligula rutrum sociis ridiculus mus molestie vestibulum sociosqu, nisi tempus accumsan 
                senectus suspendisse scelerisque tortor nisl convallis, consequat urna dui magna tristique tempor etiam facilisi. Euismod hac tincidunt nulla pretium vestibulum 
                nisl et per litora nascetur sociis sagittis, mauris taciti sed nibh gravida penatibus himenaeos mi tellus dictum sem, placerat pellentesque egestas luctus nec 
                laoreet metus lacinia imperdiet elementum lectus.
            </p><br/>
        </div>
    </main>
    <!--/Main Site-->

<!--include footer-->
<%-include('include/_footer') %>
<!--/include footer-->